@import "normalize";
@import "mixins";

@color-primary: #f5821f;

html {
    height: 100%;   
}

body {
    .flex-display;
    .flex-direction(column);
    min-height: 100%;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    color: #222;
    min-width: 320px;
    max-width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.clear-block {
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

a {
    position: relative;
}
a:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: yellow;
    z-index: 200;
}


main.main {
    .flex(1);
    padding: 2em 0;
}

/* ===================
    ANCHOR TAGS
====================== */

a,
a:visited {
    color: @color-primary;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}




/* ===================
    HEADINGS
====================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1em;
    color: #000;
    margin-bottom: 0.6em;
    font-weight: 700;
    margin-top: 0;
    
    a,
    a:visited {
        color: inherit;
    }
}

h1 {font-size: 2.7em;}
h2 {font-size: 2.4em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}



/* ================================
    CONTAINERS
================================ */

.container {
    max-width: 960px;
    width: 90%;
    margin: auto;
    
    .clear-block;
    
    &.regular-padding {
        padding: 40px 0;
    }
}



/* ================================
    HEADER
=================================== */

header.main-header {
    .cover {
        .flex-display;
        height: 400px;
        background: url("../img/karta.jpg") no-repeat center center;
        background-size: cover;
        transition: height 1s;
        .logotype {
            display: block;
            width: 90%;
            max-width: 960px;
            margin: auto;
            img.main-logo {
                width: 50%;
                max-width: 400px;
                height: auto;
                margin: auto;
            }
        }
    }
}



/* ================================
    MAIN NAVIGATION MENU
=================================== */

.menu {
    background: @color-primary;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;

    * {
        transition: all .5s;
    }
    
    .main-menu-toggle {
        display: none;
        margin: 0 5%;
        height: 44px;
        width: 30px;
        cursor: pointer;
    }
    
    .main-menu {
        .container;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;

                &:first-child {
                    margin-left: -15px;
                }
                
                a {
                    display: block;
                    padding: 0 15px;
                    color: inherit;
                    text-decoration: none;
                    line-height: 50px;

                    &:hover {
                        background: rgba(0, 0, 0, 0.2);
                    }
                }

                &.current-menu-item {
                    color: rgba(255,255,255,0.7);
                }
            }
        }
    }
}




/* ================================
    COLUMNS
=================================== */

#main {
    .flex-display();
    .flex-direction(row);
    
    max-width: 90%;
    width: 960px;
    margin: auto;
}

.column {
    float: left;
    margin-right: 5%;
    
    transition: all 1s;
    
    &:last-of-type {
        margin-right: 0;
    }
    
    &.main {
        .flex(1);
    }   
    
    &.sidebar {
        width: 300px;
    }
}


/* ===================
    GALLERY
====================== */

.gallery {
    padding: 2px;
    .gallery-photo {
    }
}

/* ===================
    PHOTO
====================== */

.photo {
    img {
        width: 111.2%;
        max-width: 111.2%;
        margin-left: -5.6%;
    }
}

.photo-byline {
    clear: both;
    margin-top: 2em;    

    &:after {
        clear: both;
        content: "";
        display: block;
    }
    .author-image {
        float: left;
        margin-right: 10px;
        line-height: 0;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .post-info {
        line-height: 18px;
        padding: 2px 0;


        .author-name {
            font-weight: 700;
            font-size: .9em;
        }

        .date {
            color: #888;
            font-size: .8em;
        }

        a {
            color: inherit;
        }
    }
}


/* ================================
    BLOG POST
================================ */

.post{
    margin-bottom: 6em;

    .clear-block;

    .content {
        
        img.size-large {
            max-width: 100%;
            height: auto;
            position: relative;
            //left: -5%;
            margin: 1.5em 0 1em 0;
        }
        
    }

    .byline {
        clear: both;
        margin-top: 2.5em;    
        
        &:after {
            clear: both;
            content: "";
            display: block;
        }

        .author-image {
            float: left;
            margin-right: 10px;
            line-height: 0;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .post-info {
            line-height: 18px;
            padding: 2px 0;

            .author-name {
                font-weight: 700;
                font-size: .9em;
            }

            .date {
                color: #888;
                font-size: .8em;
            }

            a {
                color: inherit;
            }
        }

    }

}




/* ================================
    PAGINATION NAV
=================================== */

.navigation {
    padding: 4em 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: .9em;
    color: #777;
    border-top: 1px solid #efefef;
    
    .flex-display();
    .flex-direction(row);
    .clear-block;
    
    
    .current {
        font-size: .85em;
        
        .flex(1);
    }
    
    .next,
    .previous {
        width: 80px;
    }
    
    .next {
        text-align: right;
    }
    
}



/* ================================
    FOOTER
=================================== */

footer.main-footer {
    .flex-display;
    width: 100%;
    background: @color-primary;
    padding: 2em 0;
    color: #fff;
}




@media (max-width: 768px) {
 
    header.main-header {
        .cover {
            height: 280px;
        }
    }
    
    #main { 
        display: block;
    }
    
    .column {
        margin-right: 0;
        margin-bottom: 50px;
        width: auto;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .post {
        .content {
            img.size-large {
                max-width: 111.2%;
                margin-left: -5.6%;
            }
        }
    }
    
    .navigation {
        padding: 3em 0;   
        border-bottom: 1px solid #efefef;
    }
    
}

@media (max-width: 600px) {
 
    header.main-header {
        .cover {
            height: 180px;
        }
    }

}


@media (max-width: 500px) {
 
    header.main-header {
        .cover {
            height: 100px;
        }
    }
    
    .menu {
        padding-top: 8px;
        
        .main-menu-toggle {
            display: block;
            padding-bottom: 8px;
        }
        
        .main-menu {
            max-height: 0;
            width: auto;
            overflow: hidden;
            
            ul {
                li {
                    
                    border-top: 1px solid rgba(255,255,255,0.2);
                    
                    &:first-child {
                        margin-left: 0;
                        border-top: 0;
                    }
                    
                    a {
                        padding: 0 5%;
                    }
                    
                    display: block;
                }
            }
            
            &.active {
                max-height: 600px;
                padding: 20px 0;
            }
            
        }
    }
    
    
    .navigation {
        
        padding: 1em 0;
        
        .next,
        .previous {
            width: auto;
        }
    }
    
}
