@import "normalize";
@import "mixins";

@color-primary: #f5821f;

html {
    height: 100%;   
}

body {
    .flex-display;
    .flex-direction(column);
    min-height: 100%;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    color: #222;
}

.clear-block {
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

header.main-header {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background: url("../img/karta.jpg") no-repeat center center;
    background-size: cover;
}


main.main {
    .flex(1);
}

/* ===================
    ANCHOR TAGS
====================== */

a,
a:visited {
    color: @color-primary;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}




/* ===================
    HEADINGS
====================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1em;
    color: #000;
    margin-bottom: 0.6em;
    font-weight: 700;
    
    a,
    a:visited {
        color: inherit;
    }
}

h1 {}
h2 {font-size: 2.4em;}
h3 {}
h4 {}
h5 {}
h6 {}



/* ================================
    CONTAINERS
================================ */

.container {
    max-width: 960px;
    width: 90%;
    margin: auto;

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

/* ================================
    HEADER
=================================== */

header.main-header {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background: url("../img/karta.jpg") no-repeat center center;
    background-size: cover;

    .flex-display;
    .flex-direction(column);
    .cover {
        .flex(1);
    }
}

/* ================================
    MAIN NAVIGATION MENU
=================================== */

.menu {
    background: @color-primary;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;

    .main-menu {
        text-align: center;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;

                a {
                    display: block;
                    padding: 0 15px;
                    color: inherit;
                    text-decoration: none;
                    line-height: 44px;

                    &:hover {
                        background: rgba(0, 0, 0, 0.015);
                    }
                }

                &.current-menu-item {
                    color: #F8991C;
                }
            }
        }
    }
}




/* ================================
    COLUMNS
=================================== */

.column {
    float: left;
    margin-right: 5%;
    
    &:last-of-type {
        margin-right: 0;
    }
    
    &.main {
        width: 60%;
    }   
    
    &.sidebar {
        width: 35%;
    }
}





/* ================================
    BLOG POST
================================ */

.post {
    margin-bottom: 6em;

    .clear-block;

    .content {
        
        & > img {
            max-width: 110%;
            height: auto;
            position: relative;
            left: -5%;
            margin: 1.5em 0 1em 0;
        }
        
    }

    .byline {
        clear: both;
        margin-top: 2.5em;    
        
        &:after {
            clear: both;
            content: "";
            display: block;
        }

        .author-image {
            float: left;
            margin-right: 10px;
            line-height: 0;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .post-info {
            line-height: 18px;
            padding: 2px 0;

            .author-name {
                font-weight: 700;
                font-size: .9em;
            }

            .date {
                color: #888;
                font-size: .8em;
            }

            a {
                color: inherit;
            }
        }

    }

}




/* ================================
    PAGINATION NAV
=================================== */

.navigation {
    padding: 4em 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: .9em;
    color: #777;
    border-top: 1px solid #efefef;
    
    .flex-display();
    .flex-direction(row);
    .clear-block;
    
    a {
    }
    
    .previous {
        width: 80px;
    }

    .current {
        font-size: .85em;
        
        .flex(1);
    }
    
    .next {
        width: 80px;
        text-align: right;
    }
    
    
    
    
}



/* ================================
    FOOTER
=================================== */

footer.main-footer {
    .flex-display;
    width: 100%;
    background: @color-primary;
}
